.title-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 70%;
}

.title {
    /*Here is the style like in apple.com*/
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    /*Here the apple text ends*/
    margin: auto;
    /*clamp(min, preffered, max)*/
    font-size: clamp(3.5rem, 7vw, 7vw);
}

/* Container & layout */
.file-input-wrapper {
    margin-top: 1.5rem;       
    display: flex;            
    align-items: center;      
    height: 7vh;
    width: 50%;
    min-width: 27rem;
    margin-left: auto;
    margin-right: auto;
}

.input-wrapper{
    background-color: white;
    border-radius: 980px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 7px;
}

/* Hide the native input accessibly */
.file-input-native {
    position: absolute;       /* take it out of normal flow */
    width: 1px; height: 1px;  /* shrink it to near-zero */
    padding: 0; margin: -1px; /* remove any default padding/margin */
    overflow: hidden;         /* clip contents */
    clip: rect(0,0,0,0);
    border: 0;
}

/* Style the label as a button */
.file-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(94deg, #0090f76f, #b962fc77);
    height: 100%;
    width: 20%;
    min-width: 4rem;
    color: white;              
    font-size: 1rem;           
    font-weight: 500;
    border-radius: 980px;        
    cursor: pointer;           
    user-select: none;         
    transition: background-color 0.2s ease;
}

.file-input-button:hover {
    background-image: linear-gradient(94deg, #0090F7, #BA62FC);
}

/* Filename text styling */
.file-input-filename {
    margin-left: 10px;
    font-size: 1rem;
    color: #333;
    font-style: italic;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(94deg, #f2416ac0, #f55600c5);
    height: 100%;
    width: 20%;
    min-width: 4rem;
    color: white;              
    font-size: 1.3rem;           
    font-weight: 500;
    border-radius: 980px;        
    cursor: pointer;           
    user-select: none;         
    transition: background-color 0.2s ease;
    margin-left: auto;
    margin-right: auto;
}

.start-button:hover {
    background-image: linear-gradient(94deg, #F2416B, #F55600);
}

.start-button:active {
    background-image: linear-gradient(94deg, #6b1e30, #87401a);
}