.input-container{
    margin-top: 3px;
    display: flex;
}

.config-name{
    margin-right: auto;
}

.selector-input{
    background: #fff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    height: 24px;
    padding: 5px;
}